button{
    display: block;
    margin: 10px auto;
    background-color: black;
    color: white;
    font-size: 2em;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
input{
    background-color: aliceblue;
    color: darkblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    margin: 10px auto;
    font-size: 2em;
    padding: 10px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 50px;
}
label{
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    display: block;
}
p{
    font-size: 2em;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
