#head{
    font-family: sans-serif;
    background-color: rgb(231, 204, 204);
    text-align: center;
    font-size: 3em;
}
#randLabel{
    display: block;
    font-size: 9em;
    margin-top: 20px;
    text-align: center;
    font-weight: 1000;
}
button{
    display: block;
    margin: 20px auto;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    border-radius: 10px;
    background-color: rgb(179, 179, 255);
    cursor: pointer;
    font-family: sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}